<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>PomegAI</h1>
      <p>
        PomegAI - For Lazy by Lazy <br>
        Application written in python fastAPI for server of ML application.
        This tools helps manage crunch schedules. 
        User can upload an image and ask questions without having to go thourgh each line in the image manually.
        This saves time and makes this tool a matter of convenience 
      </p>
    </div>
  </body>
</html>
